<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top" style="margin: 0px;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Angular Query Builder</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li ui-sref-active="active" ui-sref="root"><a ui-sref="root">Home</a></li>-->
                <!--<li ui-sref-active="active"><a ui-sref="about">About</a></li>-->
                <!--<li ui-sref-active="active"><a  ui-sref="contact">Contact</a></li>-->
            </ul>
        </div>
    </div>
</nav>
