<div class="alert alert-info alert-group query-filter-group" style="">

    <div class="form-inline">
        <div class="form-group">
            <select ng-options="o.name as o.name for o in $ctrl.operators" data-ng-model="$ctrl.group.op"
                    class="form-control input-sm"
                    placeholder="{{$ctrl.group.op}}"
                    ng-change="$ctrl.onGroupChange()"></select>
        </div>
        <!--GROUP CONTROLLERS-->
        <button class="btn btn-default btn-xs remove-group" md-no-ink ng-click="$ctrl.RemoveGroup()"
                ng-if="$ctrl.$$index">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
        <button class="btn btn-default btn-xs add-group" md-no-ink ng-click="$ctrl.AddGroup()">Add Group</button>
    </div>


    <!--GROUP CONDITIONS-->
    <div class="group-conditions">
        <div ng-repeat="rule in $ctrl.group.expressions  track by $index">
            <!--//track position-->
            <span ng-init="rule.$$indeed = $index"></span>
            <div ng-switch="rule.type === 'group'">
                <div ng-switch-when="true" class="rule-group">
                    <query-builder group="rule" fields="$ctrl.fields" $$index="1"
                                   on-delete="$ctrl.onDeleteGroup($event)"
                                   on-update="$ctrl.onUpdateGroup($event)"
                                   field-value="{{$ctrl.fieldValue}}" field-name="{{$ctrl.fieldName}}"></query-builder>
                </div>
                <div ng-switch-default class="rule-condition">
                    <div style="margin-left: 30px;">


                        <div class="form-inline">
                            <div class="form-group">
                                <select ng-model="rule.field[$ctrl.fieldValue]" class="form-control input-sm"
                                        ng-change="$ctrl.onGroupChange()">
                                    <option ng-value="t[$ctrl.fieldValue]"
                                            ng-repeat="t in $ctrl.fields ">
                                        {{t[$ctrl.fieldName]}}
                                    </option>
                                    <!--              <optgroup label="Dimensions">
                                                      <option value="{{t.name}}"
                                                              ng-repeat="t in $ctrl.fields | filter: {type: 'DIMENSION' } track by t.description">
                                                          {{t.description}}
                                                      </option>
                                                  </optgroup>
                                                  <optgroup label="Measures">
                                                      <option value="{{t.name}}"
                                                              ng-repeat="t in $ctrl.fields | filter: {type: 'MEASURE' } track by t.description">
                                                          {{t.description}}
                                                      </option>
                                                  </optgroup>-->
                                </select>
                            </div>
                            <div class="form-group">
                                <!--CONDITIONS-->
                                <select class="form-control input-sm"
                                        ng-model="rule.operator" placeholder="AND"
                                        ng-change="$ctrl.onConditionChange(rule)">
                                    <option value="{{c.value}}"
                                            ng-repeat="c in $ctrl.conditions | orderBy:'index'">
                                        {{c.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <span ng-switch="rule.operator">
                                    <span ng-switch-when="IN" class="rule-operator-in">
                                         <qb-tags ng-model="rule.values" tags="rule.values" ng-change="$ctrl.onTagsChange($event)"></qb-tags>
                                    </span>
                                    <span ng-switch-when="BETWEEN" class="rule-operator-between">
                                           <input type="text" ng-model="rule.values[0]"
                                                  class="form-control input-sm"
                                                  ng-keyup="$ctrl.onGroupChange($event)">

                                        AND

                                           <input type="text" ng-model="rule.values[1]"
                                                  class="form-control input-sm"
                                                  ng-keyup="$ctrl.onGroupChange($event)">
                                    </span>
                                    <span ng-switch-default class="rule-condition">
                                        <input type="text" ng-model="rule.values[0]"
                                               id="{{rule.$$hashKey}}"
                                               class="form-control input-sm"
                                               ng-keyup="$ctrl.onGroupChange($event)">
                                    </span>
                                </span>


                                <button ng-class="{'invisible':!rule.values[0]}" style="margin-left: 5px"
                                        ng-click="$ctrl.RemoveCondition($index)" class="btn btn-sm btn-danger"><span
                                    class="glyphicon glyphicon-minus-sign"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
