@import "~css/variables";

.form-group {
    margin-bottom: 15px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.query-filter-group {
    min-width: 523px;
    border: thin solid @brand-primary;
    margin-bottom: 10px;
    &:before {
        content: '';
        background-color: @brand-primary;
        width: 3px;
        left: 0;
    }
}

.remove-group {
    float: right;
    margin-left: 8px;
}

.add-group {
    float: right;
    width: 95px;
    background-color: rgba(62, 176, 200, 0.26);
    border: thin solid @brand-primary;
    color: #444444;
}
