<div class="header">
    <h2>External Contacts
        <span class="sub-header">Select the client contacts associated with this offer</span>
    </h2>

    <span class="window-minimize">
        Collapse
    </span>
</div>


<div class="panel panel-default">
    <!--<div class="panel-body">-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Type</th>
            <th>Name</th>
            <th>Title</th>
            <th>Phone</th>
            <th>Ext.</th>
            <th>Fax</th>
            <th>Email</th>
            <th></th>

        </tr>
        </thead>
        <tbody class="input-controller">
        <tr style="background-color: #fff;">
            <td></td>
            <td><input class="form-control" placeholder="Type" type="text" ng-model="$ctrl.user.type"></td>
            <td><input class="form-control" placeholder="Name" type="text" ng-model="$ctrl.user.name"></td>
            <td><input class="form-control" placeholder="Title" type="text" ng-model="$ctrl.user.title"></td>
            <td><input class="form-control" placeholder="Phone" type="text" ng-model="$ctrl.user.phone"></td>
            <td><input class="form-control" placeholder="Ext." type="text" ng-model="$ctrl.user.ext"></td>
            <td><input class="form-control" placeholder="Fax" type="text" ng-model="$ctrl.user.fax"></td>
            <td><input class="form-control" placeholder="Email" type="text" ng-model="$ctrl.user.email"></td>
            <td style="padding: 10px 20px;width: 40px;">
                <i class="fa fa-plus" ng-click="$ctrl.AddContact()"></i></td>
        </tr>

        </tbody>
        <tbody>
        <!-- Added an index to trick the localStorage to keep it empty if all removed -->
        <tr ng-repeat="c in $ctrl.contacts track by $index" ng-if="$index > 0">
            <td>
                <!-- Create reusable components -->
                <eq-checkbox ng-model="c.checked"></eq-checkbox>
            </td>
            <td ng-bind="c.type"></td>
            <td ng-bind="c.name"></td>
            <td ng-bind="c.title"></td>
            <td ng-bind="c.phone"></td>
            <td ng-bind="c.ext"></td>
            <td ng-bind="c.fax"></td>
            <td ng-bind="c.email"></td>
            <td><i class="fa fa-trash" ng-click="$ctrl.RemoveContact(c.$indeed)" aria-hidden="true"></i></td>
        </tr>
        </tbody>
    </table>
    <!--</div>-->
    <!--    <div class="panel-footer" style="">
            <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="$ctrl.addContact()"
                    style="padding: 1px 10px;">Add Contact
            </button>
        </div>-->

</div>
