<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" lang="en" ng-strict-di>
<head>

    <meta charset="utf-8">
    <base href="<%= htmlWebpackPlugin.options.baseUrl %>" />
    <title>Webpack 2/TypeScript/Angular 1.6.x</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <script src="https://use.fontawesome.com/b760b614d6.js"></script>

</head>

<body>

<div ui-view></div>
</body>
</html>
